
#app {
    height: 100vh;
    background-color: $backgroundColor;
  }
  
  
  .App {
    text-align: center;
    height: 100vh;
    background-color: $backgroundColor;
    margin: auto;
    overflow-y: auto;
  }
  
  .App-header {
    display: flex;
    flex-direction: row;
    background-color: $backgroundColor;
    height: 10rem;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: $red;
    p {
      padding: 1rem;
    }
  }

main {
    position: relative;
    width: 100%;
}

