// Font
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700');
// MaterialUI Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Font size
$big-font-size: 1.8rem;
$normal-font-size: 1.6rem;
$small-font-size: 1.4rem;

// Colors
$black: rgb(0, 0, 0);
$white: #ffff;
$red: #eb5151;
$orange: #FF7E6B;
$pink: #FFC1EE;

$text-dark-red: #D14848;

$backgroundColor: #fef9ff;

$border-pink: #FACFD6;