$backgroundColor: #fef9ff;
$text-red: #eb5151;

:root {
	font-size: 62.5%; // 1rem = 10px // 10px/16px = 62.5%
}

#app {
  height: 100vh;
  background-color: $backgroundColor;
}


.App {
  text-align: center;
  height: 100vh;
  background-color: $backgroundColor;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: $backgroundColor;
  height: 10rem;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: $text-red;
  p {
    padding: 1rem;
  }
}

.main-container {
  display: flex;
  align-items: center;
  margin: 1rem 5.2rem;
  h1 {
    text-align: start;
    color: $text-red;
    font-size: 11.2rem;
    position: absolute;
    top: 4rem;
    z-index: 1;
  }

  img {
    align-self: flex-end;
    opacity: 0.2;
    margin-left: auto;
    border-radius: .9rem;
    z-index: 0;
  }
}


.home-box {
  height: 60rem;
  background-image: url("./assets/tausta_cheer.png");
  background-size: cover;
  background-color: $backgroundColor;
}

.home-box-second {
  height: 60rem;
  background-color: $backgroundColor;
}

.home-box-third {
  height: 60rem;
  background-image: url("./assets/tausta2_cheer.png");
  background-size: cover;
  background-color: $backgroundColor;
}


.img-logo {
  width: 6.8rem;
  padding: 1rem;
  border-radius: 1.4rem;
}
